<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planets_exoplanet.name %>
</p>

<%= link_to 'Edit', edit_planets_exoplanet_path(@planets_exoplanet) %> |
<%= link_to 'Back', planets_exoplanets_path %>
