/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// These styles are placed in app/assets/stylesheets for Rails 4 and public/stylesheets for Rails 3.0

body {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
}

h1#title {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

h2#subtitle {
  text-align: center;
}

#main {
  background-color: #cec;
}

ul {
  list-style: disc;
  margin: 1em 2em;
}

p, div {
  margin: 1em;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 9px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
}

#content {
  padding: 30px 50px;
}
