body, ul#tabs, ul#tabs li, ul#tabs li span, ul#tabs li span a {
  margin: 0;
  padding: 0;
}

ul#tabs {
  font-size: 24px;
  height: 59px;
  list-style-type: none;
  background-color: #ccc;
  padding: 0 0 0 50px;
}

ul#tabs li {
  padding-top: 25px;
  padding-right: 5px;
  float: left;
}

ul#tabs li span.tab {
  padding: 5px 15px 0px 15px;
  float: left;
	-webkit-border-top-left-radius: 8px;
	-khtml-border-radius-topleft: 8px;	
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-khtml-border-radius-topright: 8px;	
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
}

ul#tabs li span.tab {
  background-color: #aaa;
}

ul#tabs li.active span.tab {
  background-color: white;
}