<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spiral_galaxy.name %>
</p>


<%= link_to 'Edit', edit_galaxies_spiral_galaxy_path(@spiral_galaxy) %> |
<%= link_to 'Back', galaxies_spiral_galaxies_path %>
