<h1>Explanation</h1>
This application is useful for testing multiple tab sets.
<ul>
  <li><a href="/galaxies/elliptical_galaxies">tab set one</a></li>
  <li><a href="/planets/exoplanets">tab set two</a></li>
</ul>
