<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rogue_planet.name %>
</p>


<%= link_to 'Edit', edit_rogue_planet_path(@rogue_planet) %> |
<%= link_to 'Back', rogue_planets_path %>
