<h1>Explanation</h1>

This application is useful for testing that:

<ul>
  <li>tabs can have subtabs</li>
  <li>the scaffold styles work well with custom application styles (and a reset stylesheet)</li>
  <li>scaffold styles can be customized</li>
</ul>
