<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lenticular_galaxy.name %>
</p>


<%= link_to 'Edit', edit_lenticular_galaxy_path(@lenticular_galaxy) %> |
<%= link_to 'Back', lenticular_galaxies_path %>
