<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @elliptical_galaxy.name %>
</p>


<%= link_to 'Edit', edit_elliptical_galaxy_path(@elliptical_galaxy) %> |
<%= link_to 'Back', elliptical_galaxies_path %>
