<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @galaxies_elliptical_galaxy.name %>
</p>


<%= link_to 'Edit', edit_galaxies_elliptical_galaxy_path(@galaxies_elliptical_galaxy) %> |
<%= link_to 'Back', galaxies_elliptical_galaxies_path %>
