/* These styles are duplicated in two places:
     public/stylesheets for Rails 3.0
     app/assets/stylesheets for Rails 3.1+ (which uses the asset pipeline) */

body {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
}

h1#title {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

h2#subtitle {
  text-align: center;
}

#main {
  background-color: #cec;
}

ul {
  list-style: disc;
  margin: 1em 2em;
}

p, div {
  margin: 1em;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 9px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
}

#content {
  padding: 30px 50px;
}
// Placed here in public for Rails 3.0.

body {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
}

h1#title {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

h2#subtitle {
  text-align: center;
}

#main {
  background-color: #cec;
}

ul {
  list-style: disc;
  margin: 1em 2em;
}

p, div {
  margin: 1em;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 9px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
}

#content {
  padding: 30px 50px;
}
